
.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;*/
  background-image: url('/smart-home/background/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

